.image {
  width: 82px;
  height: 82px;
  background-size: cover;
  box-shadow: 0px 8px 25px 0px rgba(224, 219, 196, 0.9); 
  border-radius: 20px;
}

.item {
  display: flex; 
  gap: 20px;
  max-width: 600px;
  margin-bottom: 27px;
}

.actions {
  margin-left: auto ;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.description {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.name {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
} 

.price {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.num {
  color: var(--text-color);
}